/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Open+Sans&family=Roboto&display=swap');

/*CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /*border: 1px solid black;*/
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fffafa;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: black;
    border-radius: 5%;
    font-weight: 600;
    padding: 1%;
    margin: 0% 2%;
}

a:visited {
    color: black;
}

a:hover {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 5%;
}

i {
    font-size: 3.5rem;
    color: dodgerblue;
}

section{
    padding: 4% 0%;
}

/*Header Styles*/
header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Title Section*/
section.titleSection {
    height: 30vh;
    background-image: url(/Images/apple-1867752_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.titleSection div {
    width: 100%;
    padding: 2% 0%;
    background: rgb(255,255,255, .7);
}

.titleSection div a {
    display: inline-block;
    margin: 1%;
}

/*Features Section*/
section.featuresSection {
    display: flex;
    flex-direction: column;
}

div.featuresContainer {
    display: flex;
    justify-content: space-evenly;
}

div.featuresDiv {
    width: 20%;
}

/*Image Section*/
div.imageSection {
    height: 30vh;
    background-image: url(/Images/concept-1868728_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*About Section*/
section.aboutSection {
    margin: 0% 5%;
}

/*Image Gallery*/
section.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imgContainer {
    width: 40%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2.5%;
}

.create {
    background-image: url(/Images/balance-865089_1920.jpg);
}

.schedule {
    background-image: url(/Images/day-planner-828611_1920.jpg);
}

.collaborate {
    background-image: url(/Images/office-1209640_1920.jpg);
}

.share {
    background-image: url(/Images/share-1411235_1920.jpg);
}

.imageGallery div .imgTitle {
    width: 100%;
    background: rgb(255,255,255, .7);
}

.imageGallery div .imgTitle:hover {
    color: dodgerblue;
}

/*Profile Gallery*/
div.aboutGallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.aboutGallery .imgContainer {
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2.5%;
    display: flex;
    align-items: flex-end;
}

.aboutGallery div .imgTitle {
    width: 100%;
    background: rgb(255,255,255, .7);
}

.aboutGallery div .imgTitle:hover {
    color: dodgerblue;
}

.hoesle {
    background-image: url(/Images/hoesle.jpeg);
}

.lee { 
    background-image: url(/Images/lee.jpeg);
}

.stewart {
    background-image: url(/Images/stewart.jpeg);
}

.vega {
    background-image: url(/Images/vega.jpeg);
}

.watts {
    background-image: url(/Images/watts.jpeg);
}

.whitwell {
    background-image: url(/Images/whitwell.png);
}

.woo {
    background-image: url(/Images/woo.jpeg);
}

/*Footer*/
footer {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

footer nav, footer div, footer address {
    margin-top: 1%;
}

footer nav {
    width: 100%;
    justify-content: space-evenly;
}

.socialMedia {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socialMedia a:hover {
    border: none;
}

footer i {
    color: white;
}

footer a:hover {
    color: white;
    border: 2px solid white;
}

address {
    width: 100%;
}

address a {
    border: none;
    padding: 0;
    font-weight: normal;
}

address a:hover {
    border: none;
    color: white;
}




